<div class="col-6md">
   {{#each blogs as |blog| }}
  <div class="blog-card">
    <div class="blog-card-header">
    <h2>{{blog.title}}</h2>
    </div>
    <div class="card-body">
      <p>
        Subject:
        {{blog.subject}}
      </p>
      <p>
        Note:
        {{blog.note}}
      </p>
      <p>
        Date:
        {{format_date blog.created_date}}
      </p>
      <p>
        By:
         {{blog.user.name}}
            
      </p>
      <p>
        Blog id:  <label id="blogid"> {{blog.id}} </label> 
      </p>
          <div class="review">
            {{#each blog.reviews as |review|}}
              {{> review-details }}
            {{/each}}

            <div class="reviewcomment">
              <a href="blog/{{blog.id}}">Comment</a>  
            </div>
          </div>
    </div>
  </div>
  {{/each}}
</div>

